@model FieldInsertViewModel
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Alan Ekleme</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>


</head>
<body class="gray-bg">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">Alan +</h1>

            </div>
            <h3>Yeni alan+</h3>
            <p><strong>@Model.SiteName</strong> sitesinin <strong>@Model.DefinitionName</strong> tanımına alan eklemek üzeresiniz !</p>
            <form class="m-t" role="form" asp-action="Create" asp-controller="Field" method="post">
                <input type="hidden" asp-for="@Model.SiteId" />
                <input type="hidden" asp-for="@Model.DefinitionId" />

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" required="" asp-for="Name">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Description"  asp-for="Description">
                </div>
                <div class="form-group">
                        <select class="form-control" asp-for="FieldType" asp-items="Model.FieldTypes" id="cc">
                        </select>
                        @*<label asp-for="Course.SemesterNumber">Select desired semester to enroll</label>*@
                </div>

                <div class="row" id="viewCourseCodeField">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Kaydet</button>

                <p class="text-muted text-center"><small>Var olan alanlara gidin</small></p>
                <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Fields", "Field" )">Tanımlar</a>
                <p class="text-muted text-center"><small>Tanım bilgilerine gidin !</small></p>
                <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Fields", "Field" )">Tanımlara Gidin</a>
            </form>
            <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; @DateTime.Now.Year</small> </p>
        </div>
    </div>
</body>

